#create_character
  .form
    .browser-support
      %p.requires-js
        Shadowcraft requires Javascript to run. Please turn it on and disable NoScript.

      %p Shadowcraft runs best with a modern browser with full HTML5 support.
      %p.browser-list
        For best results, use:
      .browsers
        %a{:href => "http://www.google.com/chrome/intl/en/landing_chrome.html"}
          =image_tag "browser/chrome.png"
          %span Google Chrome
          %em Best
        %a{:href => "http://www.apple.com/safari/"}
          =image_tag "browser/safari.png"
          %span Apple Safari
          %em Best
        %a{:href => "http://www.mozilla.com/en-US/firefox/RC/"}
          =image_tag "browser/firefox.png"
          %span Mozilla Firefox
          %em Good
        %a{:href => "http://www.beautyoftheweb.com"}
          =image_tag "browser/ie.png"
          %span Internet Explorer
          %em Good
    = flash.each do |key, value|
      .alert{ :class => "alert-#{key}" }
      %button.close{ :data => { :dismiss => "alert" } } x
      %strong
        = value
    =error_messages_for :character, :header_message => "Oops - something's not quite right!", :message => ""
    =form_for @character do |f|
      %span
        %label{:for => "character_name"} Character Name
        =f.text_field :name
      %span
        %label{:for => "character_realm"} Realm
        =f.text_field :realm
      %span
        %label{:for => "character_region"} Region
        .regions
          %label
            #{f.radio_button :region, "US"}  US
          %label
            #{f.radio_button :region, "EU"} EU
          %label
            #{f.radio_button :region, "KR"} KR
          %label
            #{f.radio_button :region, "TW"} TW
          %label
            #{f.radio_button :region, "CN"} CN
      .submit
        =f.submit "Begin"
#wait

:javascript
  Shadowcraft.commonInit()
  $(".submit").hide()
  var cname = $("#character_name"), crealm = $("#character_realm")
  var showSubmit = function() {
    if(cname.val() && crealm.val() && crealm.val().length > 3) {
      $(".submit:hidden").animate({opacity: 'show', height: 'show'}, 300)
    }
  }
  $("#wait").hide()
  $("#character_submit").click(function() {
    $("#wait").fadeIn()
  })
  setInterval(showSubmit, 100)
