- content_for :head do
  =javascript_include_tag "/items.js"
  =render "templates"

%ul.dropdownMenu#settingsDropdownMenu
  %li
    =link_to "Refresh from armory", refresh_character_path(char_options @character), :method => :put, :class => "showWait"
  %li
    =link_to "Save", "#"
  %li
    =link_to "Load", "#"
  %li
    =link_to "Reload", "#", :id => "reloadAllData"

#tabs
  #top-pane
    %ul
      %li
        %a{:href => "#gear"} Gear
      %li
        %a{:href => "#talents"} Talents &amp; Glyphs
      %li
        %a{:href => "#settings"} Settings
      %li
        %a{:href => "#impex"} Import/Export
    %a.dropdown#settingsDropdown{:href => "#", :"data-menu" => "settingsDropdownMenu"}<
      =image_tag "cog.png"

  #gear.with-tools
    .panel-tools
      %section#stats
        %h3 Stats
        .inner
      %section#weights
        %h3 Stat Weights
        .inner

      %section
        %h3 Toolbox
        .inner
          %button#reforgeAll Auto-Reforge All
          %button#optimizeGems Optimize Gems
    .panel-content
      #slots-left.slots.half<>
      #slots-right.slots.half<>

      #reforge.popup.half
        Reforge this item
      .alternatives.popup.half<
        #filter
          %input{:type => "search", :class => "search", :placeholder => "Filter..."}
        .body

  #talents.with-tools
    .panel-tools
      %section
        %h3 Talent Sets
        #talentsets.inner
      %section#talentrankings
        %h3 Talent Rankings
        .inner
          .Primary
          .Secondary
    .panel-content
      #talentframe
      %button#reset_talents Reset Talents

      #glyphs
        #prime-glyphs.glyphset
          %h2 Prime Glyphs
          .inner
        #major-glyphs.glyphset
          %h2 Major Glyphs
          .inner
  #settings
    %section.cluster.combat
      .option-list
        %h3 Rotation Settings
        .settings
    %section.cluster.mutilate
      .option-list
        %h3 Rotation Settings
        .settings
    %section.cluster.subtlety
      .option-list
        %h3 Rotation Settings
        .settings

    %section.cluster
      .option-list
        %h3 Raid Buffs
        #playerBuffs

      .option-list
        %h3 Raid Debuffs
        #targetDebuffs

      .option-list
        %h3 Other
        #raidOther

    %section.cluster
      .option-list
        %h3 General Settings
        #general

      .option-list
        %h3 Professions
        #professions

  #impex
    %h3 Import
    %div
      %textarea{:id => "import"}
    %input{:type => "button", :id => "doImport", :value => "Import", :class => "button"}
    %h3 Export
    %textarea#export
  #console-footer
    %a#card{:href => "http://#{@character.region.downcase}.battle.net/wow/en/character/#{@character.normalize_realm(@character.realm)}/#{@character.normalize_character(@character.name)}/advanced", :class => @character.properties['race'].downcase.gsub(/ /, "_")}
      .img
        %img{:src => @character.portrait}
      %span.info
        %span.name
          #{@character.name.capitalize}
        %span.realm
          #{@character.realm.titleize}-#{@character.region.upcase}
    #dps
      .inner
    #dpsgraph
    %section
      #console.window
        %h3 Notices
        .inner
    %section
      #log.window
        %h3 Log
        .inner

:javascript
  var uuid = "#{@character.uid}";
  #{flash[:_reset] ? "$.jStorage.flush();" : nil}
  Shadowcraft.boot(uuid, #{@character.to_json }, ShadowcraftData);