- content_for :head do
  =javascript_include_tag "/items-#{@character.properties["player_class"].downcase}.js"
  =render "templates"

#curtain{:style => "display: none"}
  %ul.dropdownMenu#settingsDropdownMenu
    %li
      =link_to "Refresh from armory", refresh_character_path(char_options @character), :method => :put, :class => "showWait"
    %li
      =link_to "Reset to last Armory import", character_path(char_options(@character)) + "#reload", :method => :get, :class => "showWait"
    %li
      =link_to "Clear all saved data", "#", :method => :get, :id => "reloadAllData"
    %li
      =link_to "Save snapshot", "#", :method => :get, :id => "menuSaveSnapshot"
    %li
      =link_to "Load snapshot", "#", :method => :get, :id => "menuLoadSnapshot"
    %li
      =link_to "Get Debug URL", "#", :method => :get, :id => "menuGetDebugURL"

  #tabs
    #top-pane
      %a#logo{:href => "/"}
      %ul
        %li
          %a{:href => "#gear"} Gear
        %li
          %a{:href => "#talents"} Talents
        %li
          %a{:href => "#artifact"} Artifact
        %li
          %a{:href => "#settings"} Settings
        %li
          %a{:href => "#advanced"} Advanced
        %li
          %a{:href => "#docs"} Documentation
      %a.dropdown#settingsDropdown{:href => "#", :"data-menu" => "settingsDropdownMenu"}<
        =image_tag "/images/cog.png"

    #gear.with-tools
      .panel-tools
        %section#summary
          %h3 Summary
          .inner
        %section.clearfix#stats
          %h3 Gear Stats
          .inner
        %section#weights
          %h3 Stat Weights
          .inner

        %section
          %h3 Toolbox
          .inner
            %button#optimizeGems Optimize Gems
            %button#optimizeEnchants Optimize Enchants
            %button#lockAll Lock All
            %button#unlockAll Unlock All
      .panel-content
        #slots-left.slots.half<>
        #slots-right.slots.half<>

        #bonuses.popup.ui-dialog
          Add item bonus
        #gearpopup.alternatives.popup.ui-dialog<
          #filter
            %input{:type => "search", :class => "search", :placeholder => "Filter..."}
          .body

    #talents.with-tools
      .panel-tools
        %section
          %h3 Talent Sets
          #talentsets.inner
        %section#talentrankings
          %h3 Talent Rankings
          .inner
            %h3 Tier 15
            .Tier15
            %h3 Tier 30
            .Tier30
            %h3 Tier 45
            .Tier45
            %h3 Tier 60
            .Tier60
            %h3 Tier 75
            .Tier75
            %h3 Tier 90
            .Tier90
            %h3 Tier 100
            .Tier100
            %h3 Tier 110
            .Tier110
      .panel-content
        #specactive
        #talentframe
        %div
          %button#reset_talents Reset Talents

    #artifact.with-tools
      .panel-tools
        %div#artifact_button_div
          %button#reset_artifact Reset Traits
        %section
          %h3 Trait Rankings
          #traitrankings.inner
      .panel-content
        #artifactactive
        .inner
        #artifactframe
        #artifactpopup.alternatives.popup.ui-dialog<
          #filter
            %input{:type => "search", :class => "search", :placeholder => "Filter..."}
          .body

    #settings
      %section.cluster.combat
        .option-list
          %h3 Combat Rotation Settings
          .settings
      %section.cluster.mutilate
        .option-list
          %h3 Assassination Rotation Settings
          .settings
      %section.cluster.subtlety
        .option-list
          %h3 Subtlety Rotation Settings
          .settings

      %section.cluster
        .option-list
          %h3 Raid Buffs
          #playerBuffs

        .option-list
          %h3 Other
          #raidOther

      %section.cluster
        .option-list
          %h3 General Settings
          #general

        .option-list
          %h3 Item Filter
          #generalFilter

        .option-list
          %h3 Advanced Settings
          #advancedSettings

    #advanced.with-tools
      .panel-tools
        %section#dpsbreakdown
          %h3 DPS Breakdown
          .inner
        %section#engineinfo
          %h3 Engine Info
          .inner
      .panel-content

    #docs
      %h3 7.1.5 Release 1
      %ul
        %li General:
        %li Trinkets are lightly tested, may have implementation errors.
        %li Some set bonuses are implemented (dungeon sets, Kara trinket/chest sets). Tier bonuses are not yet.
        %br
      %ul
        %li Assassination:
        %li T30 talents are not implemented.
        %br
      %ul
        %li Outlaw:
        %li Model just doesn't work, don't use it.
        %br
      %ul
        %li Subtlety:
        %li No combo point loss is computed, this leads to somewhat higher results than are achievable in game and decreases the value of haste.
        %li Use finishers during dance setting doesn't behave correctly with subterfuge, leave this option enabled with subterfuge rotations.
        %br
      UI Status:
      %ul
        %li 35+ trait should be working, but may have bugs.
        %li Nighthold items should all be in place.
      
    #console-footer
      %a#card{:href => "http://#{@character.region.downcase}.battle.net/wow/en/character/#{@character.normalize_realm(@character.realm)}/#{@character.normalize_character(@character.name)}/advanced", :target => "_blank", :class => @character.properties['race'].downcase.gsub(/ /, "_")}
        .img
          %img{:src => @character.portrait}
        %span.info
          %span.name
            #{@character.name.capitalize}
          %span.realm
            #{@character.realm.titleize}-#{@character.region.upcase}
      #dps
        .inner
      #dpsgraph
      .ad
        :javascript
          google_ad_client = "ca-pub-0438541591834443";
          var ht = $(document).height();
          if (ht > 750) {
            /* Shadowcraft Medium Rectangle */
            google_ad_slot = "0003037760";
            google_ad_width = 300; google_ad_height = 250;
            $("#console-footer").addClass("awin-medium");
          } else {
            /* Shadowcraft half banner */
            google_ad_slot = "4104886698";
            google_ad_width = 234; google_ad_height = 60;
            $("#console-footer").addClass("awin-small");
          }
        %script(type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js")
      #logs
        %section
          #console.window
            %h3 Notices
            .inner
        %section
          #log.window
            %h3 Log
            .inner

  #dialogs
    #saveSnapshot{:title => 'Save Snapshot'}
      %label
        Enter a name for this snapshot:
      %input#snapshotName{:type => "text"}
    #loadSnapshot{:title => 'Load Snapshot'}
    #generalDialog
  :javascript
    var uuid = "#{@character.uid}";
    var region = "#{@character.region}";
    #{flash[:reload] ? "$.jStorage.flush();" : nil}
    Shadowcraft.boot(uuid, region, #{patch @character }, ShadowcraftData);
