- content_for :head do
  =javascript_include_tag "/items-#{@character.properties["player_class"].downcase}.js"
  =javascript_include_tag "https://apis.google.com/js/plusone.js"
  =render "templates"

#curtain{:style => "display: none"}
  %ul.dropdownMenu#settingsDropdownMenu
    %li
      =link_to "Refresh from armory", refresh_character_path(char_options @character), :method => :put, :class => "showWait"
    %li
      =link_to "Reset to last Armory import", character_path(char_options(@character)) + "#reload", :method => :get, :class => "showWait"
    %li
      =link_to "Clear all saved data", "#", :method => :get, :id => "reloadAllData"

  #tabs
    #top-pane
      %a#logo{:href => "/"}
      .social
        %g:plusone{:size => "medium", :href => "http://shadowcraft.mmo-mumble.com"}
        %iframe(src="http://www.facebook.com/plugins/like.php?app_id=153236851412082&amp;href=http://shadowcraft.mmo-mumble.com&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:95px; height:21px;" allowTransparency="true")
      %ul
        %li
          %a{:href => "#gear"} Gear
        %li
          %a{:href => "#talents"} Talents &amp; Glyphs
        %li
          %a{:href => "#settings"} Settings
      %a.dropdown#settingsDropdown{:href => "#", :"data-menu" => "settingsDropdownMenu"}<
        =image_tag "cog.png"

    #gear.with-tools
      .panel-tools
        %section.clearfix#stats
          %h3 Stats
          .inner
          %a#getPawnString{:href => "#"}
            =image_tag "PawnButton.png"
        %section#weights
          %h3 Stat Weights
          .inner

        %section
          %h3 Toolbox
          .inner
            %button#reforgeAll Auto-Reforge All
            %button#optimizeGems Optimize Gems
            %button#exportReforging Export Reforging
      .panel-content
        #slots-left.slots.half<>
        #slots-right.slots.half<>

        #reforge.popup.ui-dialog
          Reforge this item
        .alternatives.popup.ui-dialog<
          #filter
            %input{:type => "search", :class => "search", :placeholder => "Filter..."}
          .body

    #talents.with-tools
      .panel-tools
        %section
          %h3 Talent Sets
          #talentsets.inner
        %section#talentrankings
          %h3 Talent Rankings
          .inner
            .Primary
            .Secondary
      .panel-content
        #talentframe
        %div
          %button#reset_talents Reset Talents

        #glyphs
          #prime-glyphs.glyphset
            %h2 Prime Glyphs
            .inner
          #major-glyphs.glyphset
            %h2 Major Glyphs
            .inner
    #settings
      %section.cluster.combat
        .option-list
          %h3 Rotation Settings
          .settings
      %section.cluster.mutilate
        .option-list
          %h3 Rotation Settings
          .settings
      %section.cluster.subtlety
        .option-list
          %h3 Rotation Settings
          .settings

      %section.cluster
        .option-list
          %h3 Raid Buffs
          #playerBuffs

        .option-list
          %h3 Raid Debuffs
          #targetDebuffs

        .option-list
          %h3 Other
          #raidOther

      %section.cluster
        .option-list
          %h3 General Settings
          #general

        .option-list
          %h3 Professions
          #professions

    #console-footer
      %a#card{:href => "http://#{@character.region.downcase}.battle.net/wow/en/character/#{@character.normalize_realm(@character.realm)}/#{@character.normalize_character(@character.name)}/advanced", :class => @character.properties['race'].downcase.gsub(/ /, "_")}
        .img
          %img{:src => @character.portrait}
        %span.info
          %span.name
            #{@character.name.capitalize}
          %span.realm
            #{@character.realm.titleize}-#{@character.region.upcase}
      #dps
        .inner
      #dpsgraph
      .ad
        :plain
          <!-- Begin: adBrite, Generated: 2011-07-20 20:49:11  -->
          <script type="text/javascript">
          var AdBrite_Title_Color = '0000FF';
          var AdBrite_Text_Color = '000000';
          var AdBrite_Background_Color = 'FFFFFF';
          var AdBrite_Border_Color = 'CCCCCC';
          var AdBrite_URL_Color = '008000';
          try{var AdBrite_Iframe=window.top!=window.self?2:1;var AdBrite_Referrer=document.referrer==''?document.location:document.referrer;AdBrite_Referrer=encodeURIComponent(AdBrite_Referrer);}catch(e){var AdBrite_Iframe='';var AdBrite_Referrer='';}
          </script>
          <script type="text/javascript">document.write(String.fromCharCode(60,83,67,82,73,80,84));document.write(' src="http://ads.adbrite.com/mb/text_group.php?sid=1980899&zs=3330305f323530&ifr='+AdBrite_Iframe+'&ref='+AdBrite_Referrer+'" type="text/javascript">');document.write(String.fromCharCode(60,47,83,67,82,73,80,84,62));</script>
          <div><a target="_top" href="http://www.adbrite.com/mb/commerce/purchase_form.php?opid=1980899&afsid=1" style="font-weight:bold;font-family:Arial;font-size:13px;">Advertise on Shadowcraft</a></div>
          <!-- End: adBrite -->
      #logs
        %section
          #console.window
            %h3 Notices
            .inner
        %section
          #log.window
            %h3 Log
            .inner

  #dialogs
    #saveSnapshot{:title => 'Save Snapshot'}
      %label
        Enter a name for this snapshot:
      %input#snapshotName{:type => "text"}
    #loadSnapshot{:title => 'Load Snapshot'}
    #generalDialog
  :javascript
    var uuid = "#{@character.uid}";
    #{flash[:reload] ? "$.jStorage.flush();" : nil}
    Shadowcraft.boot(uuid, #{patch @character }, ShadowcraftData);
