- content_for :head do
  =javascript_include_tag "/items-#{@character.properties["player_class"].downcase}.js"
  =render "templates"

#curtain{:style => "display: none"}
  %ul.dropdownMenu#settingsDropdownMenu
    %li
      =link_to "Refresh from armory", refresh_character_path(char_options @character), :method => :put, :class => "showWait"
    %li
      =link_to "Reset to last Armory import", character_path(char_options(@character)) + "#reload", :method => :get, :class => "showWait"
    %li
      =link_to "Clear all saved data", "#", :method => :get, :id => "reloadAllData"

  #tabs
    #top-pane
      %a#logo{:href => "/"}
      %ul
        %li
          %a{:href => "#gear"} Gear
        %li
          %a{:href => "#talents"} Talents &amp; Glyphs
        %li
          %a{:href => "#settings"} Settings
      %a.dropdown#settingsDropdown{:href => "#", :"data-menu" => "settingsDropdownMenu"}<
        =image_tag "cog.png"

    #gear.with-tools
      .panel-tools
        %section.clearfix#stats
          %h3 Stats
          .inner
          %a#getPawnString{:href => "#"}
            =image_tag "PawnButton.png"
        %section#weights
          %h3 Stat Weights
          .inner

        %section
          %h3 Toolbox
          .inner
            %button#reforgeAll Auto-Reforge All
            %button#optimizeGems Optimize Gems
      .panel-content
        #slots-left.slots.half<>
        #slots-right.slots.half<>

        #reforge.popup.ui-dialog
          Reforge this item
        .alternatives.popup.ui-dialog<
          #filter
            %input{:type => "search", :class => "search", :placeholder => "Filter..."}
          .body

    #talents.with-tools
      .panel-tools
        %section
          %h3 Talent Sets
          #talentsets.inner
        %section#talentrankings
          %h3 Talent Rankings
          .inner
            .Primary
            .Secondary
      .panel-content
        #talentframe
        %div
          %button#reset_talents Reset Talents

        #glyphs
          #prime-glyphs.glyphset
            %h2 Prime Glyphs
            .inner
          #major-glyphs.glyphset
            %h2 Major Glyphs
            .inner
    #settings
      %section.cluster.combat
        .option-list
          %h3 Rotation Settings
          .settings
      %section.cluster.mutilate
        .option-list
          %h3 Rotation Settings
          .settings
      %section.cluster.subtlety
        .option-list
          %h3 Rotation Settings
          .settings

      %section.cluster
        .option-list
          %h3 Raid Buffs
          #playerBuffs

        .option-list
          %h3 Raid Debuffs
          #targetDebuffs

        .option-list
          %h3 Other
          #raidOther

      %section.cluster
        .option-list
          %h3 General Settings
          #general

        .option-list
          %h3 Professions
          #professions

    #console-footer
      %a#card{:href => "http://#{@character.region.downcase}.battle.net/wow/en/character/#{@character.normalize_realm(@character.realm)}/#{@character.normalize_character(@character.name)}/advanced", :class => @character.properties['race'].downcase.gsub(/ /, "_")}
        .img
          %img{:src => @character.portrait}
        %span.info
          %span.name
            #{@character.name.capitalize}
          %span.realm
            #{@character.realm.titleize}-#{@character.region.upcase}
      #dps
        .inner
      #dpsgraph
      .ad
        :javascript
          google_ad_client = "ca-pub-0438541591834443";
          var ht = $(document).height();
          if (ht > 750) {
            /* Shadowcraft Medium Rectangle */
            google_ad_slot = "0003037760";
            google_ad_width = 300; google_ad_height = 250;
            $("#console-footer").addClass("awin-medium");
          } else {
            /* Shadowcraft half banner */
            google_ad_slot = "4104886698";
            google_ad_width = 234; google_ad_height = 60;
            $("#console-footer").addClass("awin-small");
          }
        %script(type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js")
      #logs
        %section
          #console.window
            %h3 Notices
            .inner
        %section
          #log.window
            %h3 Log
            .inner

  #dialogs
    #saveSnapshot{:title => 'Save Snapshot'}
      %label
        Enter a name for this snapshot:
      %input#snapshotName{:type => "text"}
    #loadSnapshot{:title => 'Load Snapshot'}
    #generalDialog
  :javascript
    var uuid = "#{@character.uid}";
    #{flash[:reload] ? "$.jStorage.flush();" : nil}
    Shadowcraft.boot(uuid, #{patch @character }, ShadowcraftData);