!!! 5
%html
  %head
    %title= @page_title.nil? ? "ShadowCraft - Rogue DPS Spreadsheet" : "#{@page_title} - ShadowCraft"
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    = stylesheet_link_tag 'custom-theme/jquery-ui-1.8.5.custom.css', 'compiled/screen.css', :media => "screen, projection", :cache => "cache/bundle"
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = csrf_meta_tag
    =javascript_include_tag "jquery-1.4.3", "jquery-ui-1.8.5.custom", "tooltip", "ui.selectmenu.js", "underscore", "handlebars.js", "jstorage.js", "app" #, :cache => "cache/bundle"
    #{yield :head}
    :javascript
      window.FLASH = #{raw flash.reject {|k, v| k.match(/^_/) }.values.to_json};
  %body
    #alpha Alpha!
    #container
      #header
        .padding
          ShadowCraft
      #content
        =yield
      #footer
        .padding
          Questions to cheald @ gmail
          &mdash; discussion at <a href="http://elitistjerks.com/f78/t105787-spreadsheets_next_generation/p7/">EJ</a>
          &mdash; UI source at <a href="http://github.com/cheald/shadowcraft-ui">GitHub</a>          
    - if Rails.env.production?
      :javascript
        var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-12517505-2']); _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();