!!! 5
%html.no-js
  %head
    %title= @page_title.nil? ? "ShadowCraft - Rogue DPS Spreadsheet" : "#{@page_title} - ShadowCraft"
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=0.85333, user-scalable=no")
    %meta(name="apple-mobile-web-app-capable" content="yes")
    %meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    %link(rel="shortcut icon" href="/images/favicon.png" type="image/png")
    =include_stylesheets :app
    =include_stylesheets :print
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = csrf_meta_tag
    =javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"
    =include_javascripts  :app

    #{yield :head}
    :javascript
      window.FLASH = #{raw flash.reject {|k, v| k.to_s.match(/^_/) }.values.to_json};
  %body
    #container{:class => "#{params[:controller]}-#{params[:action]}"}
      =yield
      #footer
        .padding
          Questions to <a href="mailto:cheald@gmail.com">cheald@gmail.com</a>
          &bull; By Antiarc (Adrine@Cenarion Circle) &mdash; source at <a href="http://github.com/cheald/shadowcraft-ui">GitHub</a>
          &bull; discussion at <a href="http://elitistjerks.com/f78/t108630-shadowcraft_rogue_spreadsheet_4_0_a/">EJ</a>
          &bull; DPS/EP engine by Aldriana &mdash; source at <a href="https://github.com/Aldriana/ShadowCraft-Engine">GitHub</a>
    - if Rails.env.production?
      :javascript
        var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-12517505-2']); _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();