!!! 5
%html
  %head
    %title Roguething - Rogue DPS Spreadsheet
    = stylesheet_link_tag 'custom-theme/jquery-ui-1.8.5.custom.css', 'compiled/screen.css', :media => "screen, projection", :cache => "cache/bundle"
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = csrf_meta_tag
    =javascript_include_tag "jquery", "jquery-ui-1.8.5.custom", "ui.selectmenu.js", "underscore", "handlebars.js", "jstorage.js", "rails", "app", :cache => "cache/bundle"
    #{yield :head}
    :javascript
      window.FLASH = #{raw flash.values.to_json};
  %body
    #container
      #header
        .padding
          Roguething
      #content
        =yield
      #footer
        .padding
          Questions to cheald @ gmail &mdash; discussion on at <a href="http://elitistjerks.com/f78/t105787-spreadsheets_next_generation/p7/">EJ</a>
  - if Rails.env.production?
    :javascript
      var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-12517505-2']); _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();