!!! 5
%html.no-js
  %head
    %title= @page_title.nil? ? "ShadowCraft - Rogue DPS Spreadsheet" : "#{@page_title} - ShadowCraft"
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=0.85333, user-scalable=no")
    %meta(name="apple-mobile-web-app-capable" content="yes")
    %meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    %meta(name="keywords" content="wow,warcraft,rogue,game,dps,raid")
    %meta(name="description" content="A World of Warcraft rogue DPS optimizer and gear planner")
    %link(rel="shortcut icon" href="/images/favicon.png" type="image/png")
    %link(type="text/plain" rel="author" href="http://shadowcraft.mmo-mumble.com/humans.txt")

    =stylesheet_link_tag "custom-theme/jquery-ui-1.8.5.custom.css"
    =stylesheet_link_tag "screen.css"
    =csrf_meta_tag
    =javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"
    =javascript_include_tag "/javascripts/modernizr-2.6.2.js"
    =javascript_include_tag "/javascripts/jquery-ui-1.8.24.custom.min.js"
    =javascript_include_tag "/javascripts/jquery.browser.min.js"
    =javascript_include_tag "/javascripts/tooltip.js"
    =javascript_include_tag "/javascripts/underscore.js"
    =javascript_include_tag "/javascripts/backbone-min.js"
    =javascript_include_tag "/javascripts/handlebars.js"
    =javascript_include_tag "/javascripts/jstorage.js"
    =javascript_include_tag "/javascripts/jquery.json.js"
    =javascript_include_tag "/javascripts/flot/jquery.flot.js"
    =javascript_include_tag "/javascripts/flot/jquery.flot.crosshair.js"
    =javascript_include_tag "/javascripts/jquery.websocket-0.0.1.js"
    =javascript_include_tag "/javascripts/core.js"

    #{yield :head}
    :javascript
      window.FLASH = #{raw flash.reject {|k, v| k.to_s.match(/^_/) }.to_json};
  %body
    #container{:class => "#{params[:controller]}-#{params[:action]}"}
      =yield
      #footer
        .padding
          Questions to <a href="mailto:shadowcraft@ravenholdt.net">Ravenholdt</a>
          &bull; UI source at <a href="http://github.com/cheald/shadowcraft-ui">GitHub</a>
          &bull; discussion at <a href="http://ravenholdt.net/index.php/forums/viewforum.php?f=7">Ravenholdt</a>
          or <a href="http://forums.elitistjerks.com/forum/143-rogues/">Elitist Jerks</a>
          &bull; DPS/EP engine source at <a href="https://github.com/Fierydemise/ShadowCraft-Engine">GitHub</a>
          &bull; Hosting provided by <a href="http://mmo-mumble.com">MMO-Mumble.com</a>
    - if Rails.env.production?
      :javascript
        var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-12517505-2']); _gaq.push(['_trackPageview']);
        window._gaq = _gaq;
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
